.TweetDetails .UserBlock {
    padding-top: 10px;
  }
  
  .TweetDetails figure {
      width: 48px;
      float: left;
  }
  
  .TweetDetails figure img {
      border-radius: 50%;
      max-width: 100%;
  }
  
  .TweetDetails .User {
      width: auto;
      padding-left: 60px;
  }
  
  .TweetDetails .User p {
      margin: 0;
  }
  
  .TweetDetails .User p a {
      color: #333;
  }
  
  .TweetDetails .User .Name {
      font-weight: bold;
      font-size: 16px;
  }
  
  .TweetDetails .User .follow {
    float: right;
  }
  
  .TweetDetails .User .Name .follow img {
    width: 20px;
    margin-right: 5px;
    margin-left: 0;
  }
  
  .TweetDetails p.ScreenName a {
      text-decoration: none;
      color: #888;
  }
  
  .TweetDetails .User .Name img {
    width: 15px;
    margin-left: 5px;
  }

  .TweetDetails .TweetText {
    margin-bottom: 0;
  }

  .TweetDetails .TweetPostedAt {
    color: #888;
  }
  
  .night-mode .TweetDetails .User .Name a {
    color: #fff;
  }
  
  .night-mode .TweetDetails .User .ScreenName a {
    color: #8899a6;
  }
  
  @media (max-width: 768px) {
      .TweetDetails .UserBlock {
          padding-top: 10px;
      }
  
      .TweetDetails .UserBlock h3 {
          word-break: break-word;
      }
  }
  