.Tweets {
  height: 100%;
}

.NoTweets {
  display: flex;
  height: calc(100vh - 65px);
}

.NoTweets .Text {
	width: 100%;
  align-self: center;
  text-align: center;
  flex-shrink: 0;
}

.TweetWrapper {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid rgba(136,153,166,.5);
	border-radius: .42857em;
}

.TweetWrapper .VideoWrapper iframe {
	width: 100%;
	height: 250px;
  border: none;
  margin: 0;
}

.TweetDetails .UserBlock {
  padding-top: 10px;
}

.TweetDetails figure {
	width: 48px;
	float: left;
}

.TweetDetails figure img {
	border-radius: 50%;
	max-width: 100%;
}

.TweetDetails .User {
	width: auto;
	padding-left: 60px;
}

.TweetDetails .User p {
	margin: 0;
}

.TweetDetails .User p a {
	color: #333;
}

.TweetDetails .User .Name {
	font-weight: bold;
	font-size: 16px;
}

.TweetDetails .ScreenName a {
	text-decoration: none;
}

.night-mode .TweetDetails .User .Name a {
  color: #fff;
}

.night-mode .TweetDetails .User .ScreenName a {
  color: #8899a6;
}

@media (max-width: 768px) {
	.TweetDetails .UserBlock {
		padding-top: 10px;
	}

	.TweetDetails .UserBlock h3 {
		word-break: break-word;
	}
}
